@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To DU Ping Pong!</h1>
    <p>Welcome to the official page of the Dominican University Men's Ping Pong Team. You're home for rosters, records,and reports!</a>.</p>

        <img src="https://www.marketplace.org/wp-content/uploads/2020/07/GettyImages-1248502207.jpg?fit=2880%2C1620" alt="Description of the image" width="1000" height="800">

</div>
